:root {
  --dark-green: #3C4C44;
  --beige: #E6E6C6;
  --cafe-font: "Garamond", "Times New Roman", serif;
  --grain-opacity: 0.005;
}

.navbar-custom {
  background-color: var(--dark-green);
  font-family: var(--cafe-font);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--beige) !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    /* url("/beige-paper.png"); */
    url("/natural-paper.png");
  pointer-events: none; /* Allows clicks through */
  z-index: -1;
}

body {
  background-color: var(--beige) !important;
  /* min-height: 100vh !important; */
}

footer {
  background-color: var(--dark-green);
  max-height: 100;
  font-family: var(--cafe-font);
  color: var(--beige) !important;
}

.page-h1 {
  font-family: var(--cafe-font) !important;
  color: var(--dark-green);
  font-size: 100px;
}

.page-p {
  font-family: var(--cafe-font) !important;
  color: var(--dark-green);
  font-size: 50px;
}